################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/.vs/BancoDelCaribe/v16
